@using Microsoft.Extensions.Localization
@using Ais.Data.Models.Account
@using Ais.WebUtilities.Extensions
@inject IStringLocalizer Localizer
@{
    var deferred = !ViewContext.HttpContext.Request.IsAjaxRequest();
}
<div class="three">
    <div class="step-box">
        <div class="step-box-head">
            <h3 class="step-box-title">
                @Localizer["ListByOfficies"]:
            </h3>
        </div>
        <div class="step-box-body">
            <div class="tasks-list-wrap">
                <div class="step-box-body">
                    <div class="tasks-list-wrap">
                        @(Html.Kendo().Grid<DashboardGridDataCentral>()
                            .Name("tasks-data")
                            .HtmlAttributes(new { @class = "stat-list" })
                            .Pageable(x => x.Enabled(true).PageSizes(new[] { 20, 30, 50 }))
                            .Scrollable(x => x.Enabled(true))
                            .Columns(
                                columns =>
                                {
                                    columns.Bound(col => col.OfficeName).ClientTemplateId("office-template").Title(Localizer["Office"]);
                                    columns.Bound(col => col.DistributedTasks).ClientTemplateId("distributed-tasks-template").Title(Localizer["DistributedTasks"]);
                                    columns.Bound(col => col.TasksInExecution).ClientTemplateId("tasks-execution-template").Title(Localizer["TasksInExecution"]);
                                    columns.Bound(col => col.CompletedTasks).ClientTemplateId("completed-tasks-template").Title(Localizer["CompletedTasks"]);
                                })
                            .DataSource(ds => ds.Ajax().Read("GetDashBoardGridDataCentral", "Account").PageSize(50))
                            .Deferred(deferred))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_GridTemplates");
}