@using Ais.Office.Areas.Admin.Controllers
@using Ais.WebUtilities.Extensions
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
@{
    var controllerType = typeof(TranslationsController);
    if (this.Url.HasRightsToAction("Edit", controllerType))
    {
        <a class="k-small k-button edit-translation-js" data-searchqueryid="@ViewBag.SearchQueryId" title="@Localizer["Edit"]">
            <i class="k-i-edit k-icon k-font-icon"></i>
        </a>
    }
    if (this.Url.HasRightsToAction("Delete", controllerType))
    {
        <a class="k-small k-button delete-translation-js" data-searchqueryid="@ViewBag.SearchQueryId" title="@Localizer["Delete"]">
            <i class="k-i-delete k-icon k-font-icon"></i>
        </a>
    }
}