@using Ais.Office.Areas.Admin.Controllers.Employees;
@using Ais.WebUtilities.Extensions
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
@{
    var controllerType = typeof(EmployeeRolesController);
    if (this.Url.HasRightsToAction("Upsert", controllerType))
    {
        <a class="k-small k-button edit-role-js" data-searchqueryid="@ViewBag.SearchQueryId" title="@Localizer["Edit"]">
            <i class="k-i-edit k-icon k-font-icon"></i>
        </a>
    }
    if (this.Url.HasRightsToAction("Delete", controllerType))
    {
        <a class="k-small k-button delete-role-js" data-searchqueryid="@ViewBag.SearchQueryId" title="@Localizer["Delete"]">
            <i class="k-i-delete k-icon k-font-icon"></i>
        </a>
    }
}