@using Ais.Office.ViewModels.AdmAct
@model List<AdmActSearchResultViewModel>
<form method="post" asp-action="SearchAdmAct">
    <h1>
        test
    </h1>

    <button class="k-i-search">Search</button>
</form>
