@inject IStringLocalizer Localizer
@using Microsoft.Extensions.Localization
@using Ais.WebUtilities.Extensions
@model Ais.Data.Models.Document.Document
@{
    var deferred = !ViewContext.HttpContext.Request.IsAjaxRequest();
}
<div class="step-box">
    <div class="step-box-head">
        <h3 class="step-box-title">
            @Localizer["CreateFolder"]
        </h3>
    </div>
    <div class="step-box-body">
        <div>
            @(Html.Kendo().CheckBoxFor(x => x.CreateFolder).Label(Localizer["CreateFolder"]).Enable(Model.IsNew).Deferred(deferred))
        </div>
    </div>
</div>