
<div class="content login-after">
    <section class="center">
        <div class="steps-body">
            <div class="column-wrap charts-wrap flex-gap-20">
                <div class="three left">
                    <div class="step-box ">
                        <div class="step-box-head">
                            <h3 class="step-box-title">Общо задачи за периода:</h3>
                            <a href="login-after3.php.html#popup-ref-1" class="right k-button k-small" title="Title Dialog">
                                <!--                                <svg class="icon info"><use xlink:href="#icon-info"></use></svg>-->
                                <i class="k-icon k-font-icon k-i-gear"></i>
                            </a>
                        </div>
                        <div class="step-box-body">
                            <div class="form-row">
                                <div class="flex k-flex-nowrap">
                                    <div class="form-input column">
                                        <input type="text" class="k-datepicker" value="2023-02-20" />
                                    </div>
                                    <div class="form-input-dash"></div>
                                    <div class="form-input column">
                                        <input type="text" class="k-datepicker" value="2023-02-28" />
                                    </div>
                                </div>
                            </div>

                            <div class="chart-horizontal">
                                <div class="chart-horizontal-item">
                                    <div class="relative left">
                                        <div id="chart01"></div>

                                    </div>
                                    <div class="column-wrap">
                                        <div class="column flex">
                                            <div class="oval ib" style="border-color: #009060; background: #00906035">98</div>
                                            <div class="ib">Регистрирани заявления на гише</div>
                                        </div>
                                        <div class="column flex ">
                                            <div class="oval ib" style="border-color: #CEE00B; background: #CEE00B35">60</div>
                                            <div>Регистрирани заявления през портал</div>
                                        </div>
                                        <div class="column flex ">
                                            <div class="oval " style="border-color: #ADBC0B; background: #ADBC0B35">12</div>
                                            <div>Регистрирани заявления от ОЗЛ гише</div>
                                        </div>
                                        <div class="column flex">
                                            <div class="oval " style="border-color: #8D9908; background: #8D990835">6</div>
                                            <div>Предадени резултати от изпълнението на гише</div>
                                        </div>
                                        <div class="column flex ">
                                            <div class="oval " style="border-color: #6E0812; background: #6E081235">30</div>
                                            <div>Услуги, с изтекъл срок!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chart-horizontal-item">
                                    <div class="relative left">
                                        <div class="relative left">
                                            <div id="chart02"></div>

                                        </div>
                                        <div class="column-wrap">
                                            <div class="column flex">
                                                <div class="oval ib" style="border-color: #166F99; background: #166F9935">40</div>
                                                <div class="ib">Общо регистриране услуги </div>
                                            </div>
                                            <div class="column flex ">
                                                <div class="oval ib" style="border-color: #3EAEE2; background: #3EAEE235">30</div>
                                                <div>Регистриране услуги  през портал</div>
                                            </div>
                                            <div class="column flex ">
                                                <div class="oval " style="border-color: #319FD2; background: #319FD235">6</div>
                                                <div>Регистриране услуги на Гише</div>
                                            </div>
                                            <div class="column flex">
                                                <div class="oval " style="border-color: #8ACFF0; background: #8ACFF035">4</div>
                                                <div>Регистриране услуги от ОЗЛ</div>
                                            </div>
                                            <div class="column flex ">
                                                <div class="oval " style="border-color: #B0E0E5; background: #B0E0E535">6</div>
                                                <div>Регистриране услуги със срок бърза</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chart-horizontal-item">
                                    <div class="relative left">
                                        <div class="relative left">
                                            <div id="chart03"></div>

                                        </div>
                                        <div class="column-wrap">
                                            <div class="column flex">
                                                <div class="oval ib" style="border-color: #CEE00B; background: #CEE00B35">40</div>
                                                <div class="ib">Общо приключени услуги  </div>
                                            </div>
                                            <div class="column flex ">
                                                <div class="oval ib" style="border-color: #ADBC0B; background: #ADBC0B35">30</div>
                                                <div>Приключени услуги през портал</div>
                                            </div>
                                            <div class="column flex ">
                                                <div class="oval " style="border-color: #8D9908; background: #8D990835">6</div>
                                                <div>Приключени услуги на Гише</div>
                                            </div>
                                            <div class="column flex">
                                                <div class="oval " style="border-color: #5D6507; background: #5D650735">4</div>
                                                <div>Приключени услуги от ОЗЛ</div>
                                            </div>
                                            <div class="column flex ">
                                                <div class="oval " style="border-color: #A4101F; background: #A4101F35">6</div>
                                                <div>Услуги, с изтекъл срок!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chart-horizontal-item">
                                    <div class="relative left">
                                        <div id="chart04"></div>

                                    </div>
                                    <div class="column-wrap">
                                        <div class="column flex">
                                            <div class="oval ib" style="border-color: rgba(196,150,8, 1); background: rgba(196,150,8, 0.2)">98</div>
                                            <div class="ib">Брой разпределени задачи </div>
                                        </div>
                                        <div class="column flex ">
                                            <div class="oval ib" style="border-color: rgba(255,193,4, 1); background: rgba(255,193,4, 0.2)">60</div>
                                            <div>Брой приключили задачи </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chart-horizontal-item">
                                    <div class="relative left">
                                        <div id="chart05"></div>

                                    </div>
                                    <div class="column-wrap">
                                        <div class="column flex">
                                            <div class="oval ib" style="border-color: #DC3445; background: #DC344535">34</div>
                                            <div class="ib">Отказани заявления </div>
                                        </div>
                                        <div class="column flex ">
                                            <div class="oval ib" style="border-color: #A4101F; background: #A4101F35">12</div>
                                            <div>Върнати заявления за корекция</div>
                                        </div>
                                        <div class="column flex ">
                                            <div class="oval ib" style="border-color: #6E0812; background: #6E081235">3</div>
                                            <div>Върнати заявления за допълнителни </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three ">
                    <div class="step-box ">
                        <div class="step-box-head">
                            <h3 class="step-box-title">Статистика за 11.12.2022:</h3>
                            <a href="login-after3.php.html#popup-ref-1" class="right k-button k-small" title="Title Dialog">задачи за деня</a>
                        </div>
                        <div class="step-box-body">
                            <div class="relative">
                                <div id="chart2"></div>
                                <div class="inner-chart-content">
                                    <small>задачи за<br>11.12.2022</small>
                                    210
                                    <small>разпределени задачи</small>
                                </div>
                            </div>

                            
                            <div class="column-wrap k-flex-wrap flex-gap-20 k-justify-content-start">
                                <div class="three  text-center">
                                    <div class="circle smallcircle bg-orange">
                                        18
                                    </div>
                                    <div><small>Брой задачи - Изтичащи днес</small></div>
                                </div>
                                <div class="three text-center">
                                    <div class="circle  smallcircle bg-green2">
                                        178
                                    </div>
                                    <div><small>Брой разпределени задачи</small></div>
                                </div>
                                <div class="three text-center">
                                    <div class="circle  smallcircle bg-green3">
                                        30
                                    </div>
                                    <div><small>Брой разпределени задачи - Със срок бърза</small></div>
                                </div>
                                <div class="three text-center">
                                    <div class="circle  smallcircle bg-yellow">
                                        148
                                    </div>
                                    <div><small>Брой разпределени задачи - Обикновена поръчка</small></div>
                                </div>
                                <div class="three text-center">
                                    <div class="circle  smallcircle bg-red">
                                        4
                                    </div>
                                    <div><small>Брой разпределени - С изтекъл срок</small></div>
                                </div>
                                <div class="three text-center">
                                    <div class="circle  smallcircle bg-blue">
                                        25
                                    </div>
                                    <div><small>Брой задачи в етап на изпълнение</small></div>
                                </div>
                                <div class="three text-center">
                                    <div class="circle smallcircle bg-lime">
                                        41
                                    </div>
                                    <div><small>Брой готови документи за предаване в деловоство на гише</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three">
                    <div class="step-box ">
                        <div class="step-box-head">
                            <h3 class="step-box-title">Закъснели задачи:</h3>
                            <a href="login-after3.php.html#popup-ref-1" class="right k-button k-small" title="Title Dialog">
                                <!-- <svg class="icon info"><use xlink:href="#icon-info"></use></svg>-->
                                виж всички задачи
                            </a>
                        </div>
                        <div class="step-box-body">
                            <div class="tasks-list-wrap">
                                <div id="tasks-list"></div>
                                <script id="kraensrok" type="text/x-kendo-template">
                                    <span class="text-red">#= date #</span>
                                </script>
                                <script id="button-template" type="text/x-kendo-template">
                                    <button type="button" onClick='' value='foo' class="bttn bttn-icon third small autosize"><i class="k-icon k-font-icon k-i-caret-alt-right"></i></button>
                                    <button type="button" onClick='' value='foo' class="bttn bttn-icon third small autosize"><i class="k-icon k-font-icon k-i-info"></i></button>
                                </script>

                            </div>
                        </div>
                    </div>
                    <div class="step-box ">
                        <div class="step-box-head">
                            <h3 class="step-box-title">Списък по служители:</h3>
                        </div>
                        <div class="step-box-body">
                            <div class="tasks-list-wrap">
                                <div id="user-list"></div>
                                <script id="statuses" type="text/x-kendo-template">
                                    <span class="minicircle bg-red">#= s1 #</span>
                                    <span class="minicircle bg-red2">#= s2 #</span>
                                    <span class="minicircle bg-orange">#= s3 #</span>
                                    <span class="minicircle bg-green2">#= s4 #</span>
                                    <span class="minicircle bg-green3">#= s5 #</span>
                                    <span class="minicircle bg-yellow">#= s6 #</span>
                                    <span class="minicircle bg-blue">#= s7 #</span>
                                    <span class="minicircle bg-lime">#= s8 #</span>
                                </script>
                                <script id="button-template2" type="text/x-kendo-template">
                                    <button type="button" onClick='' value='foo' class="bttn bttn-icon third small autosize"><i class="k-icon k-font-icon k-i-info"></i></button>
                                </script>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script>
        $("#chart01").kendoChart({
            title: false,
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                overlay: {
                    gradient: "none"
                },
            },
            series: [{
                holeSize: 20,
                padding: 0,
                autoFit: true,
                type: "donut",
                startAngle: 90,
                visual: function (e) {
                    center = e.center;
                    radius = e.radius;
                    // Create default visual
                    return e.createVisual();
                },
                data: [{
                    value: 98,
                    color: "#009060"
                }, {
                    value: 60,
                    color: "#CEE00B"
                }, {
                    value: 12,
                    color: "#ADBC0B"
                }, {
                    value: 6,
                    color: "#8D9908"
                }, {
                    value: 30,
                    color: "#6E0812"
                }]
            }],
            tooltip: {
                visible: true,
                format: "{0} бр."
            }
        });
        $("#chart02").kendoChart({
            title: false,
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                overlay: {
                    gradient: "none"
                },
            },
            series: [{
                holeSize: 20,
                padding: 0,
                autoFit: true,
                type: "donut",
                startAngle: 90,
                visual: function (e) {
                    center = e.center;
                    radius = e.radius;
                    // Create default visual
                    return e.createVisual();
                },
                data: [{
                    value: 40,
                    color: "#166F99"
                }, {
                    value: 30,
                    color: "#3EAEE2"
                }, {
                    value: 6,
                    color: "#319FD2"
                }, {
                    value: 4,
                    color: "#8ACFF0"
                }, {
                    value: 6,
                    color: "#B0E0E5"
                }]
            }],
            tooltip: {
                visible: true,
                format: "{0} бр."
            }
        });
        $("#chart03").kendoChart({
            title: false,
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                overlay: {
                    gradient: "none"
                },
            },
            series: [{
                holeSize: 20,
                padding: 0,
                autoFit: true,
                type: "donut",
                startAngle: 90,
                visual: function (e) {
                    center = e.center;
                    radius = e.radius;
                    // Create default visual
                    return e.createVisual();
                },
                data: [{
                    value: 40,
                    color: "#CEE00B"
                }, {
                    value: 30,
                    color: "#ADBC0B"
                }, {
                    value: 6,
                    color: "#8D9908"
                }, {
                    value: 4,
                    color: "#5D6507"
                }, {
                    value: 6,
                    color: "#A4101F"
                }]
            }],
            tooltip: {
                visible: true,
                format: "{0} бр."
            }
        });
        $("#chart04").kendoChart({
            title: false,
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                overlay: {
                    gradient: "none"
                },
            },
            series: [{
                holeSize: 20,
                padding: 0,
                autoFit: true,
                type: "donut",
                startAngle: 90,
                visual: function (e) {
                    center = e.center;
                    radius = e.radius;
                    // Create default visual
                    return e.createVisual();
                },
                data: [{
                    value: 40,
                    color: "rgba(196,150,8,1)"
                }, {
                    value: 30,
                    color: "rgba(255,193,4,1)"
                }]
            }],
            tooltip: {
                visible: true,
                format: "{0} бр."
            }
        });
        $("#chart05").kendoChart({
            title: false,
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                overlay: {
                    gradient: "none"
                },
            },
            series: [{
                holeSize: 20,
                padding: 0,
                autoFit: true,
                type: "donut",
                startAngle: 90,
                visual: function (e) {
                    center = e.center;
                    radius = e.radius;
                    // Create default visual
                    return e.createVisual();
                },
                data: [{
                    value: 609,
                    color: "#DC3445"
                }, {
                    value: 30,
                    color: "#A4101F"
                }, {
                    value: 30,
                    color: "#6E0812"
                }]
            }],
            tooltip: {
                visible: true,
                format: "{0} бр."
            }
        });
        $("#chart2").kendoChart({
            title: false,
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                overlay: {
                    gradient: "none"
                },
            },
            series: [{
                holeSize: 85,
                type: "donut",
                startAngle: 90,
                visual: function (e) {
                    center = e.center;
                    radius = e.radius;
                    // Create default visual
                    return e.createVisual();
                },
                data: [{
                    value: 4,
                    color: "#A4101F"
                }, {
                    value: 18,
                    color: "#FFC104"
                }, {
                    value: 178,
                    color: "#009060"
                }, {
                    value: 30,
                    color: "#03EF8D"
                }, {
                    value: 148,
                    color: "#FFDC02"
                }, {
                    value: 25,
                    color: "#3EAEE2"
                }, {
                    value: 41,
                    color: "#CEE00B"
                }]
            }],
            tooltip: {
                visible: true,
                format: "{0} бр."
            }

        });
        $("#tasks-list").kendoGrid({
            columns: [
                { field: "productName", title: "Задачи" },
                { field: "date", title: "Краен срок", template: kendo.template($('#kraensrok').html()) },
                { field: "", title: "", template: kendo.template($("#button-template").html()), width: '82px' }
            ],
            filterable: true,
            dataSource: [
                { productName: "Христо Петков Иванов", date: "11.02.2023", statusClass: "bg-lime" },
                { productName: "Иванка Стойчева Петрова", date: "30.03.2023", statusClass: "success" },
                { productName: "Петя Милева Ненкова", date: "29.02.2023", statusClass: "bg-green2" },
                { productName: "Петя Милева Ненкова", date: "-", statusClass: "bg-green3" },
                { productName: "Петя Милева Ненкова", date: "11.03.2023", statusClass: "bg-green4" },
                { productName: "Христо Петков Иванов", date: "ДНЕС", statusClass: "bg-yellow" },
                { productName: "Иванка Стойчева Петрова", date: "срок", statusClass: "bg-red" },
                { productName: "Петя Милева Ненкова", date: "18.01.2022", statusClass: "success" },
                { productName: "Христо Петков Иванов", date: "18.05.2022", statusClass: "error" },
                { productName: "Иванка Стойчева Петрова", date: "10.10.2022", statusClass: "note" },
                { productName: "Иванка Стойчева Петрова", date: "няма", statusClass: "warning" },
                { productName: "Петя Милева Ненкова", date: "11.03.2023", statusClass: "bg-green4" },
                { productName: "Христо Петков Иванов", date: "ДНЕС", statusClass: "bg-yellow" },
                { productName: "Иванка Стойчева Петрова", date: "срок", statusClass: "bg-red" },
                { productName: "Петя Милева Ненкова", date: "18.01.2022", statusClass: "success" },
                { productName: "Христо Петков Иванов", date: "18.05.2022", statusClass: "error" },
                { productName: "Иванка Стойчева Петрова", date: "10.10.2022", statusClass: "note" },
                { productName: "Иванка Стойчева Петрова", date: "няма", statusClass: "warning" },
            ],
            pageable: {
                pageSize: 5
            }
        });
        $("#user-list").kendoGrid({
            columns: [
                { field: "productName", title: "Име" },
                { field: "category", title: "Статус", template: kendo.template($('#statuses').html()) },
                { field: "", title: "", template: kendo.template($("#button-template2").html()), width: '48px' }
            ],
            filterable: true,
            dataSource: [
                { s1: 1, s2: 3, s3: 40, s4: 123, s5: 0, s6: 1, s7: 1234, s8: 11, productName: "Христо Петков Иванов", category: "Прключена", statusClass: "bg-lime" },
                { s1: 110, s2: 23, s3: 440, s4: 23, s5: 10, s6: 7, s7: 12, s8: 1, productName: "Иванка Стойчева Петрова", category: "Разпределена", statusClass: "success" },
                { s1: 1, s2: 3, s3: 40, s4: 123, s5: 0, s6: 1, s7: 1234, s8: 11, productName: "Петя Милева Ненкова", category: "Бърза поръчка", statusClass: "bg-green2" },
                { s1: 1, s2: 3, s3: 40, s4: 123, s5: 0, s6: 1, s7: 1234, s8: 11, productName: "Петя Милева Ненкова", category: "Прключена", statusClass: "bg-green3" },
                { s1: 1, s2: 3, s3: 40, s4: 123, s5: 0, s6: 1, s7: 1234, s8: 11, productName: "Петя Милева Ненкова", category: "green4", statusClass: "bg-green4" },
                { s1: 1, s2: 3, s3: 40, s4: 123, s5: 0, s6: 1, s7: 1234, s8: 11, productName: "Христо Петков Иванов", category: "Изтичащa", statusClass: "bg-yellow" },
                { s1: 1, s2: 3, s3: 40, s4: 123, s5: 0, s6: 1, s7: 1234, s8: 11, productName: "Иванка Стойчева Петрова", category: "Изтекъл срок", statusClass: "bg-red" },

            ],
            pageable: {
                pageSize: 5
            }
        });

        $(function () {

            $(".date, .k-datepicker").kendoDatePicker();
            $(".datehour").kendoTimePicker();
            $("[type='number']").kendoNumericTextBox();
            $(".k-textarea").kendoTextArea({
                rows: 5
            });
            $('.form-input > [type="text"]').kendoTextBox();



            //expand object
            $('.object-list-wrap').on('click', '.object .toggle-info', function (e) {
                e.preventDefault();
                $(this)//.siblings('.object-properties').slideToggle(200).end()
                    .parents('.object').toggleClass('active')
                    .siblings('.active').children('.object-properties').slideToggle(100).end().removeClass('active');
            });

            $(".k-dropdown-js").kendoDropDownList({
                dataSource: ["Example", "Lorem Ipsum", "Third option"]
            });

        })
        </script>
}

