<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="telerik" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
        <add key="Mapex" value="http://172.16.3.3:2048/nuget" protocolVersion="2" allowInsecureConnections="true" />
        <add key="IONugetServer" value="https://nuget.uslugi.io/repository/nuget/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
      <telerik>
        <add key="Username" value="djivkov@mapex.bg" />
        <add key="ClearTextPassword" value="Mapex123!" />
      </telerik>
    </packageSourceCredentials>
</configuration>