@using Ais.Office.Areas.Admin.Controllers
@using Ais.WebUtilities.Extensions
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
@{
    var controllerType = typeof(ClientRolesController);
    if (this.Url.HasRightsToAction("Edit", controllerType))
    {
        <a href="\\#" class="k-small k-button edit-role-js" data-searchqueryid="@ViewBag.SearchQueryId" title="@Localizer["Edit"]">
            <i class="k-i-edit k-icon k-font-icon"></i>
        </a>
    }
}